<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust To-Do List</title>
</head>

<body>
    <Form id="todoform" action="/" target="_self" method="post">
        <Label for="tditem">To-Do Item:</Label><br>
        <Input type="text" name="tditem"></Input>
        <Button type="submit" form="todoform" value="Submit">Submit</Button>
    </Form>
    <ul>
        {% for item in items %}
        <li>{{ item.item }}</li>
        {% endfor %}
    </ul>
</body>

</html>